/**
* CALC FUNCTIONS
 */
/**
* Helper Functions
* https://gist.github.com/B-iggy/14da053d2cebf92e1930
 */
/* Fonts */
@font-face {
  font-family: 'LinuxLibertine';
  src: url("fonts/LinLibertine_R.woff") format("woff");
  /* Moderne Browser */
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'LinuxLibertine';
  src: url("fonts/LinLibertine_I.woff") format("woff");
  /* Moderne Browser */
  font-style: italic;
  font-weight: normal; }

@font-face {
  font-family: 'LinuxLibertine';
  src: url("fonts/LinLibertine_RB.woff") format("woff");
  /* Moderne Browser */
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: 'LinuxLibertine';
  src: url("fonts/LinLibertine_RBI.woff") format("woff");
  /* Moderne Browser */
  font-style: italic;
  font-weight: bold; }

/* Webfont: Lato-Regular */
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Lato/Lato-Regular.woff") format("woff"), url("fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/* Webfont: Lato-BoldItalic */
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato/Lato-BoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato/Lato-BoldItalic.woff") format("woff"), url("fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility; }

/* Webfont: Lato-BoldItalic */
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Lato/Lato-Bold.woff") format("woff"), url("fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility; }

/* Webfont: Lato-Italic */
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato/Lato-Italic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Lato/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/Lato/Lato-Italic.woff") format("woff"), url("fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0; }

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px; }

body {
  font-family: "Lato", sans-serif;
  background-color: #006397;
  color: #FFF; }
  body, body > * {
    overflow: hidden; }

h1, h2, h3 {
  font-family: LinuxLibertine, serif; }

.main-header {
  background-color: #FFF;
  color: #333;
  height: 16vh;
  max-height: 7rem;
  width: 100vw;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  justify-content: space-between; }
  .main-header .logo {
    flex: 1 1 auto;
    font-size: 0;
    color: rgba(255, 255, 255, 0);
    display: block;
    background-image: url("../img/WLP-logo-right.svg");
    background-size: contain;
    background-position: 0 50%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%; }
  .main-header a {
    margin-left: .8rem;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #808080; }
    .main-header a:hover {
      color: #006397; }
  .main-header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    @media screen and (max-width: 700px) {
      .main-header nav {
        flex-wrap: wrap; } }
    .main-header nav > * {
      margin-left: .8rem;
      display: block; }
    .main-header nav a {
      padding: .1em 0;
      white-space: nowrap; }

.icon-search.icon-search.icon-search {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  transform: rotate(45deg);
  background: none;
  border: none; }
  .icon-search.icon-search.icon-search::before, .icon-search.icon-search.icon-search::after {
    display: block;
    content: ''; }
  .icon-search.icon-search.icon-search::before {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: currentColor solid 2px; }
  .icon-search.icon-search.icon-search::after {
    background-color: currentColor;
    height: 2px;
    width: .5rem; }

.view-container {
  min-width: 100vw;
  height: calc(100vh - 16vh);
  min-height: calc(100vh - 7rem);
  overflow: auto;
  display: flex;
  flex-direction: row; }
  .view-container > .view {
    border: none;
    width: 100vw;
    overflow: auto;
    flex: 0 0 100vw; }
    .view-container > .view:not(:target) {
      display: none; }
    .view-container > .view:not(.view-frameless) {
      padding: 2rem;
      text-align: center; }
    .view-container > .view.view-frameless {
      border-top: #eaecf0 solid 1px; }

.view {
  background-color: #006397; }
  .view-search {
    display: flex;
    flex-direction: column;
    justify-content: stretch; }
    .view-search header {
      flex: 0 0 auto; }
      .view-search header form {
        font-size: 1.2rem;
        margin-top: 2rem;
        margin-bottom: 1em; }
        .view-search header form > :not(:last-child) {
          margin-right: .5em; }
        .view-search header form input {
          min-width: 50vw; }
        .view-search header form input, .view-search header form button {
          border-radius: .5em;
          padding: .3em .6em;
          background: transparent;
          color: currentColor;
          border: currentColor solid 2px; }
        .view-search header form button {
          margin-top: .5em; }
    .view-search > section {
      overflow: auto; }
      .view-search > section ul, .view-search > section li {
        list-style-type: none;
        padding: 0;
        margin: 0; }
      .view-search > section li:first-child a.search-result {
        border-top: rgba(255, 255, 255, 0.5) solid 2px; }
      .view-search > section a.search-result {
        padding: 1em 0;
        color: currentColor;
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        border-bottom: rgba(255, 255, 255, 0.5) solid 2px; }
        .view-search > section a.search-result > span {
          margin-left: 1rem;
          text-align: right; }
        .view-search > section a.search-result > .search-result-name {
          margin-right: auto;
          margin-left: 0;
          font-weight: bold;
          text-align: left; }
        .view-search > section a.search-result .search-result-wikidata {
          flex: 0 0 7em; }
  .view-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .view-name > * {
      max-width: 90vw; }
    .view-name h1 {
      font-weight: 400;
      font-size: calc(1rem + 9vw);
      margin-bottom: 0;
      line-height: 1; }
    .view-name .subline {
      font-size: calc(.7rem + 2vw);
      margin-top: .5em;
      padding-bottom: 2em; }
      .view-name .subline a {
        color: currentColor;
        text-decoration: none; }
