<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Wiki loves parliaments | Bundestagsprojekt</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header class="main-header">
    <a href="#Search" class="logo">WLP Bundestag</a>
    <nav>
        <script data-handlebars-id="person.data" data-handlebars-tags="person" type="text/x-handlebars-template">
            {{#person}}
                <a href="#NameTag">{{personLabel.value}}</a>
                {{#if linkDe}}<a href="{{linkDe.value}}" target="webview">DE</a>{{/if}}
                {{#if linkEn}}<a href="{{linkEn.value}}" target="webview">EN</a>{{/if}}
                {{#if linkFr}}<a href="{{linkFr.value}}" target="webview">FR</a>{{/if}}
                {{#if linkCommons}}<a href="{{linkCommons.value}}" target="webview">C</a>{{/if}}
                <a href="{{person.value}}" target="webview">Q</a>
                {{#if bundestagsBio}}<a href="{{bundestagsBio.value}}" target="_blank">BT</a>{{/if}}
            {{/person}}
        </script>
    </nav>
    <a href="#Search" class="icon-search"></a>
</header>
<main class="view-container">
    <article class="view view-search" data-view-id="Search" id="Search">
        <header>
            <form data-action="search"><input type="text" name="q"><button class="icon-search" type="submit"></button></form>
        </header>
        <section>
            <script data-handlebars-id="person.search" data-handlebars-tags="searchResults" type="text/x-handlebars-template">
                <ul>
                    {{#persons}}
                        {{#if (searchPerson personLabel.value)}}
                            <li><a href="#NameTag" class="search-result" data-show-person="{{wikidata}}">
                                <span class="search-result-name">{{personLabel.value}}</span>
                                {{#if  parliamentaryGroupLabel}}
                                    <span class="search-result-party">{{parliamentaryGroupLabel.shortValue}}</span>
                                {{/if}}
                                <span class="search-result-wikidata">{{wikidata}}</span>
                            </a></li>
                        {{/if}}
                    {{/persons}}
                </ul>
            </script>
        </section>
    </article>
    <article class="view view-name" data-view-id="NameTag" id="NameTag">
        <script data-handlebars-id="person.data" data-handlebars-tags="person" type="text/x-handlebars-template">
            {{#person}}
                <div>
                    <h1>{{personLabel.value}}</h1>
                    <div class="subline">{{#if  parliamentaryGroupLabel}}{{parliamentaryGroupLabel.value}}<br>{{/if}}
                        <!--{{#if linkDe}}<a href="{{linkDe.value}}" target="webview">DE</a>{{/if}}
                        {{#if linkEn}}<a href="{{linkEn.value}}" target="webview">EN</a>{{/if}}//-->
                        <a href="{{person.value}}" target="webview">{{wikidata}}</a>
                        <!--{{#if linkCommons}}<a href="{{linkCommons.value}}" target="webview">C</a>{{/if}}
                        {{#if bundestagsBio}}<a href="{{bundestagsBio.value}}" target="_blank">BT</a>{{/if}}//-->
                    </div>
                </div>
            {{/person}}
        </script>
    </article>
    <iframe name="webview" class="view view-web view-frameless" data-view-id="WebView" id="WebView" src="https://de.m.wikipedia.org">
    </iframe>
</main>
<footer>

</footer>
<script type="application/sparql" data-sparql-id="search">
#Current members of Bundestag with district, party and date they assumed office
SELECT DISTINCT
(SAMPLE(?linkCommons) AS ?linkCommons)
?person ?personLabel
(SAMPLE(?districtLabel) AS ?districtLabel)
(SAMPLE(?partyLabel) AS ?partyLabel)
(SAMPLE(?parliamentaryGroupLabel) AS ?parliamentaryGroupLabel)
(SAMPLE(?assumedOffice) AS ?assumedOffice)
(SAMPLE(?image) AS ?image)
(SAMPLE(?bundestagsBio) AS ?bundestagsBio)
(SAMPLE(?linkDe) AS ?linkDe)
(SAMPLE(?linkEn) AS ?linkEn)
(SAMPLE(?linkFr) AS ?linkFr)
WHERE {
  ?person p:P39 ?posheld.
  ?posheld ps:P39 wd:Q1939555;
           pq:P2937 wd:Q30579723.
  MINUS { ?posheld pq:P582 ?endTime. }
  OPTIONAL { ?posheld pq:P768 ?district. }
  OPTIONAL { ?posheld pq:P4100 ?parliamentaryGroup. }
  OPTIONAL { ?posheld pq:P580 ?assumedOffice. }
  OPTIONAL {
    ?person p:P102 ?partystatement.
    ?partystatement ps:P102 ?party.
    MINUS { ?partystatement pq:P582 ?partyEnd. }
    MINUS { ?party wdt:P361 ?partOf. }
  }
  OPTIONAL { ?linkDe schema:about ?person; schema:isPartOf <https://de.wikipedia.org/>. }
  OPTIONAL { ?linkEn schema:about ?person; schema:isPartOf <https://en.wikipedia.org/>. }
  OPTIONAL { ?linkFr schema:about ?person; schema:isPartOf <https://fr.wikipedia.org/>. }
  OPTIONAL { ?linkCommons schema:about ?person; schema:isPartOf <https://commons.wikimedia.org/>. }
  OPTIONAL { ?person wdt:P18 ?image. }
  OPTIONAL { ?person wdt:P1713 ?bundestagsBio. }
  SERVICE wikibase:label {
    bd:serviceParam wikibase:language "[AUTO_LANGUAGE],de,en".
    ?person rdfs:label ?personLabel.
    ?district rdfs:label ?districtLabel.
    ?party rdfs:label ?partyLabel.
    ?parliamentaryGroup rdfs:label ?parliamentaryGroupLabel.
  }
}
GROUP BY ?person ?personLabel
ORDER BY ?personLabel
</script>
<script type="application/javascript" src="js/vendor.js"></script>
<script type="application/javascript" src="js/app.js"></script>
</body>
</html>