*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: $rem-base;
}

body {
  font-family: "Lato", sans-serif;
  background-color: $wlp-color-blue;
  color: $wlp-color-white;

  &, & > * {
    overflow: hidden;
  }
}

h1, h2, h3 {
  font-family: LinuxLibertine, serif;
}

$header-height: 16vh;
$max-header-height: 7rem;
.main-header {
  background-color: $wlp-color-white;
  color: $wlp-color-grey-d;
  height: $header-height;
  max-height: $max-header-height;
  width: 100vw;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;

  .logo {
    flex: 1 1 auto;
    font-size: 0;
    color: rgba(255, 255, 255, 0);
    display: block;
    background-image: url("../img/WLP-logo-right.svg");
    background-size: contain;
    background-position: 0 50%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  a {
    margin-left: .8rem;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: $wlp-color-grey;
    &:hover {
      color: $wlp-color-blue;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 700px){
      flex-wrap: wrap;
    }

    > * {
      margin-left: .8rem;
      display: block;
    }

    a {
      padding: .1em 0;
      white-space: nowrap;

    }
  }
}

.icon-search.icon-search.icon-search {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  transform: rotate(45deg);
  //transform-origin: .5em 50%;

  background: none;
  border: none;

  &::before, &::after {
    display: block;
    content: '';
  }

  &::before {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: currentColor solid 2px;
  }

  &::after {
    background-color: currentColor;
    height: 2px;
    width: .5rem;
  }
}

.view-container {
  min-width: 100vw;
  height: calc(100vh - #{$header-height});
  min-height: calc(100vh - #{$max-header-height});
  overflow: auto;

  display: flex;
  flex-direction: row;

  > .view {
    border: none;
    width: 100vw;
    overflow: auto;
    flex: 0 0 100vw;

    &:not(:target) {
      display: none;
    }

    &:not(.view-frameless) {
      padding: 2rem;
      text-align: center;
    }

    &.view-frameless {
      border-top: $wlp-color-grey-l solid 1px;
    }
  }
}