/**
* CALC FUNCTIONS
 */

$rem-base: 16px !default;
// Get the em equivalent of a value
@function toEm ($value, $refValue: $rem-base) {
  @return floor($value / $refValue * 1000em) / 1000; // Rounds to up to 2 decimals
}

@function toRem ($value) {
  @return floor($value / $rem-base * 1000rem) / 1000; // Rounds to up to 2 decimals
}

@function is-percentage($value) {
  @return is-number($value) and unit($value) == '%';
}

@function toFluid($sizeSmall, $viewPortSmall, $sizeBig, $viewportBig) {

  @if type-of($viewPortSmall) == string {
    $viewPortSmall: map_get($grid-breakpoints, $viewPortSmall);
  }

  @if type-of($viewportBig) == string {
    $viewportBig: map_get($grid-breakpoints, $viewportBig);
  }

  $sizeDifference: $sizeBig - $sizeSmall;
  $viewPortDifference: $viewportBig - $viewPortSmall;

  @if unit($sizeDifference) == unit($viewPortDifference) {
    $v: $sizeDifference / $viewPortDifference;
    $x: $sizeBig - ($viewportBig * $v);
    @if unit($sizeDifference) == 'px' {
      $x: toRem($x);
    }
    @return calc(#{100vw * $v} + #{$x});
  } @else {
    @return calc(100vw * #{$sizeDifference} / #{$viewPortDifference} + #{$sizeBig} - #{$viewportBig} * #{$sizeDifference} / #{$viewPortDifference});
  }
}

/**
* Helper Functions
* https://gist.github.com/B-iggy/14da053d2cebf92e1930
 */

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@function url-encode($string) {
  $map: (
          "%": "%25",
          "<": "%3C",
          ">": "%3E",
          " ": "%20",
          "!": "%21",
          "*": "%2A",
          "'": "%27",
          '"': "%22",
          "(": "%28",
          ")": "%29",
          ";": "%3B",
          ":": "%3A",
          "@": "%40",
          "&": "%26",
          "=": "%3D",
          "+": "%2B",
          "$": "%24",
          ",": "%2C",
          "/": "%2F",
          "?": "%3F",
          "#": "%23",
          "[": "%5B",
          "]": "%5D"
  );
  $new: $string;
  @each $search, $replace in $map {
    $new: str-replace($new, $search, $replace);
  }
  @return $new;
}

@function inline-svg($string, $color: '#000000') {
  $string: str-replace($string, '#000000', $color);
  @return url('data:image/svg+xml;charset=US-ASCII,#{url-encode($string)}');
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}
