$wlp-color-blue: #006397;
$wlp-color-red: #981914;
$wlp-color-green: #289461;
$wlp-color-bottle-green: #1a5136;
$wlp-color-grey-l: #eaecf0;
$wlp-color-grey: #808080;
$wlp-color-grey-d: #333;
$wlp-color-dark: #111;
$wlp-color-white: #FFF;