.view {
  background-color: $wlp-color-blue;
  &-search {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    header {
      flex: 0 0 auto;

      form {
        font-size: 1.2rem;
        margin-top: 2rem;
        margin-bottom: 1em;

        > :not(:last-child) {
          margin-right: .5em;
        }

        input{
          min-width: 50vw;
        }

        input, button {
          border-radius: .5em;
          padding: .3em .6em;
          background: transparent;
          color: currentColor;
          border: currentColor solid 2px;
        }
        button{
          margin-top: .5em;
        }
      }
    }

    > section {
      overflow: auto;

      ul, li {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      li:first-child{
        a.search-result{
          border-top: rgba(255, 255, 255, .5) solid 2px;
        }
      }

      a.search-result {
        padding: 1em 0;
        color: currentColor;
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        border-bottom: rgba(255, 255, 255, .5) solid 2px;

        > span{
          margin-left: 1rem;
          text-align: right;
        }
        > .search-result-name {
          margin-right: auto;
          margin-left: 0;
          font-weight: bold;
          text-align: left;
        }
        .search-result-wikidata{
          flex: 0 0 7em;
        }
      }
    }
  }

  &-web {

  }

  &-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >*{
      max-width: 90vw;
    }
    h1 {
      font-weight: 400;
      font-size: calc(1rem + 9vw);
      margin-bottom: 0;
      line-height: 1;
    }
    .subline{
      font-size: calc(.7rem + 2vw);
      margin-top: .5em;
      padding-bottom: 2em;

      a{
        color: currentColor;
        text-decoration: none;
      }
    }
  }
}